* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 24px;
}

article {
  width: 30rem;
  margin: 0 auto;

  header h1 {
    font-weight: 100;
    font-size: 3rem;
    line-height: 5rem;
    text-align: center;
  }
}
