!!! 5
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }
    %title Stop Stealing Sheep
    %link{ href: "/application.css?#{ stamp }", media: 'all', rel: 'stylesheet' }
  %body
    %article
      %header
        %h1 Stop Stealing Sheep
